* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #004256;
}

header {
  background-color: #097a6c;
  color:	#dfd8d3;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-position: center;
  background-attachment: fixed;
  padding: 20px 35px;
}

header h1 {

}

header a {
  color: #dfd8d3;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px;
}

/* hero styling begins */

.hero {
  background-image: url("../images/img-hero.JPG");
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(13, 1fr);
}

.hero h2 {
  color: #dfd8d3;
  grid-column: 3;
  grid-row: 12;
}